<a href="https://colab.research.google.com/github/akshatmaheshwari1702/123/blob/master/Ml_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+7
2*7

14

In [ ]:
print(2+7)
print(2*7)

9
14

In [ ]:
print('Hello World!!!')

Hello World!!!

In [ ]:
month=12
print(month)

12

In [ ]:
rent = 1700
print(rent)

1700

In [ ]:
a=3
b=a
print(b)

3

In [ ]:
x='student'
print(x)

student

In [ ]:
height = 3
length = 6
width = 2
volume = height * length * width
print(volume)

36

In [ ]:
height , length , width = 3,6,2
volume = height * length * width
print(volume)

36

In [ ]:
 #Allowed variable names

x=2
y="Hello"
mypython="PythonGuides"
my_python="PythonGuides"
_my_python="PythonGuides"
_mypython="PythonGuides"
MYPYTHON="PythonGuides"
myPython="PythonGuides"
myPython7="PythonGuides"

In [ ]:
#Variable name not Allowed

7mypython="PythonGuides"
-mypython="PythonGuides"
myPy@thon="PythonGuides"
my Python="PythonGuides"
for="PythonGuides"

#It shows invalid syntax. 
#It will execute one by one and will show the error.

SyntaxError: ignored

In [ ]:
rent = 1700
rent = 2000
print(rent)

2000

In [ ]:
rent = 1700
rent = 2000
rent = rent + 700
print(rent)

2700

In [ ]:
rent = 1700
rent = 2000
rent += 700
print(rent)

2700

In [ ]:
print(3/2)

1.5

In [ ]:
type(3/2)

float

In [ ]:
a = 3
b = 2.5

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
a = float(3)
b = int(28.9)
print(a)
print(b)

3.0
28

In [ ]:
print(0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23
       + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23
       + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23
       + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23
       + 0.23 + 0.23 + 0.23 + 0.23+ 0.23 + 0.23 == 6.9)

False

In [ ]:
python_awsome = True
documentation_bad = False

In [ ]:
a = 3>1
print(a)

True

In [ ]:
rent = 1200
is_affordable = rent > 1000 and rent < 2000

print(is_affordable)

True

In [ ]:
rent = 1200
is_affordable = not(rent > 1000 and rent < 2000) #"not" just inverts bool value

print(is_affordable)

False

In [ ]:
print("Akshat")
print('Akshat')

Akshat
Akshat

In [ ]:
motto = "Learn | Code | Compete | Intern" 
print(motto)

Learn | Code | Compete | Intern

In [ ]:
type(motto)

str

In [ ]:
dialogue = "shiva said, "you learn as you grow""

SyntaxError: ignored

In [ ]:
dialogue = 'shiva said, "you learn as you grow"'
print(dialogue)

shiva said, "you learn as you grow"

In [ ]:
dialogue = '"shiva you\'re bag is red"'
print(dialogue)

"shiva you're bag is red"

In [ ]:
print("hello" + "world")

print("hello" + " " + "world")

helloworld
hello world

In [ ]:
word_length = len("Akshat")
print(word_length)

6

In [ ]:
print(type(75))
print(type(75.0))
print(type("75"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
marks = 15
subject = "coding"
semester = "first"

result = "I scored " + str(marks) + " in " + subject + " during my " + semester + " semester."
print(result)

I scored 15 in coding during my first semester.

In [ ]:
marks = "15"
print(type(marks))
marks = float(marks)
print(type(marks))

<class 'str'>
<class 'float'>

In [ ]:
students = ['sam','pam','rocky','austin','steve','banner']

In [ ]:
 print(students[0])
 print(students[1])
 print(students[2])

sam
pam
rocky

In [ ]:
 print(students[0])
 print(students[1])
 print(students[2])
 print(students[-1])

sam
pam
rocky
banner

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 
            'henry', 'clark', 'diana']
student = "Barry"

# slice a particular range
marvel = students[4:7]
flash = student[1:3]

print(marvel)
print(flash)

['steve', 'banner', 'tony']
ar

In [ ]:
# slice from the end
dc = students[7:]
flash = student[1:]

print(dc)
print(flash)

['bruce', 'henry', 'clark', 'diana']
arry

In [ ]:
# slice from the begining
normal = students[:4]
flash = student[:3]

print(normal)
print(flash)

['sam', 'pam', 'rocky', 'austin']
Bar

In [ ]:
# length of the list and the string
print(len(students))
print(len(student))

11
5

In [ ]:
greeting = "Hello there"
print('her' in greeting, 'her' not in greeting)

True False

In [ ]:
 students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 
            'henry', 'clark', 'diana']

students[2] = 'ben'
print(students)

['sam', 'pam', 'ben', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

In [ ]:
student = "Barry"
student[1] = "e"
print(student)

TypeError: ignored

In [ ]:
student = "pam"
character = student
print(character)
character = "peter"
print(character)
print(student)

pam
peter
pam

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 
            'henry', 'clark', 'diana']
characters = students
print(characters)
characters[1]= "peter"
print(characters)
print(students)

['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']
['sam', 'peter', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']
['sam', 'peter', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 
            'henry', 'clark', 'diana']

student = "barry"

print(max(students))
print(max(student))

tony
y

In [ ]:
max([2, 'two'])

TypeError: ignored

In [ ]:
characters = sorted(students)
print(characters)

['austin', 'banner', 'bruce', 'clark', 'diana', 'henry', 'pam', 'rocky', 'sam', 'steve', 'tony']

In [ ]:
characters = sorted(students)
print(characters)
print(students)

['austin', 'banner', 'bruce', 'clark', 'diana', 'henry', 'pam', 'rocky', 'sam', 'steve', 'tony']
['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

In [ ]:
sep_str = "\n".join(["Jack", "O", "Lantern"])
print(sep_str)

Jack
O
Lantern

In [ ]:
name = "-".join(["Jack", "O", "Lantern"])
print(name)

Jack-O-Lantern

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters.append('e')
print(letters)

['a', 'b', 'c', 'd', 'e']

In [ ]:
location = 108.7774, 92.5556
latitude, longtitude = location
print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556

In [ ]:
location = 108.7774, 92.5556

print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556

In [ ]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

In [ ]:
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary
elements

2

{'carbon': 6, 'helium': 2, 'hydrogen': 1, 'lithium': 3}

In [ ]:
print("carbon" in elements)
print(elements.get("dilithium"))

True
None

In [ ]:
  n = elements.get("dilithium")
print(n is None)
print(n is not None)

True
False

In [ ]:
population = {"New York":17.8, "Spain":13.3, "Dhaka":13.0, "Mumbai":12.5}
print(population)

{'New York': 17.8, 'Spain': 13.3, 'Dhaka': 13.0, 'Mumbai': 12.5}

In [ ]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [ ]:
helium = elements["helium"]  # get the helium dictionary
hydrogen_weight = elements["hydrogen"]["weight"]  # get hydrogen's weight

print(helium)
print(hydrogen_weight)

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}
1.00794

In [ ]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}  # create a new oxygen dictionary 
elements["oxygen"] = oxygen  # assign 'oxygen' as a key to the elements dictionary

print('elements = ', elements)

elements =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}

In [ ]:
elements = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}

# todo: Add an 'is_noble_gas' entry to the hydrogen and helium dictionaries
# hint: helium is a noble gas, hydrogen isn't
elements['helium']['is_noble_gas'] = True
elements['hydrogen']['is_noble_gas'] = False